.projects{
    margin-top: 9rem;
}

.container-title-projects{
    position: sticky;
    top: 0;
    background-color: #e5e5e566;
    backdrop-filter: blur(7px);
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.container-description-projects{
    font-weight: bold;
    font-size: 15px;
}

@media screen and (min-width: 768px) {
    .container-title-projects{
        position: static;
    }
}

@media screen and (min-width: 1024px) {

    .projects{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-projects{
        width: 80%;
        box-sizing: border-box;
        box-shadow: 0 0 5px #888;
        border-radius: 15px;
        padding: 20px;
    }

    .container-description-projects{
        font-weight: 500;
    }
}