.container-tec-animation{
    position: absolute;
    height: 100% !important;
}

.tagcloud{
    color: #000;
    font-weight: bold;
    height: 100% !important;
}

.tagcloud--item{
    font-size: 22px;
}