.about{
    margin-top: 2rem;
}

.title-about{
    font-size: 25px;
}

.description-about{
    font-weight: bold;
    font-size: 15px;
}

.container-about-title{
    position: sticky;
    top: 0;
    background-color: #e5e5e566;
    backdrop-filter: blur(7px);
    display: flex;
    align-items: center;
}

.container-img-about{
    margin-top: 40px;
}

.img-about{
    width: 100%;
    height: auto;
}

.container-img-about ul li{
    margin: 25px 0;
    font-weight: bold;
    list-style: none;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.icon-about{
    padding-right: 5px;
    font-size: 13px;
}

.ul-about-phone{
   display: flex;
   justify-content: space-around;
}

.ul-about-phone div:nth-child(2) li{
    display: flex;
    justify-content: end;
}

.container-img-about-768{
    display: none;
}

.container-ul-about-1024{
    display: none;
}

.container-img-1024{
    display: none;
}

@media screen and (min-width: 768px) {

    .container-img-about{
        display: none;
    }

    .img-about{
        width: 50%;
        height: auto;
    }
    
    .container-img-about-768{
        display: flex;
        margin-top: 40px;
        align-items: center;
        justify-content: space-evenly;
    }

    .container-img-about-768 ul li{
        margin: 25px 0;
        font-weight: bold;
        list-style: none;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
    }

    .container-img-about-768 .ul-2 li{
        display: flex;
        justify-content: end;
    }

    .container-img-about-768 .ul-2 li i{
        padding-left: 5px;
        padding-right: 0;
    }

    .container-about-title{
        position: static;
        display: flex;
        align-items: center;
    }

    .scroll-circle{
        display: none;
    }

    .title-about{
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 1024px){ 

    .container-img-about-768{
        display: none;
    }

    .about{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .section-about{
        width: 80%;
        box-sizing: border-box;
        box-shadow: 0 0 5px #888;
        border-radius: 15px;
        padding: 20px;
        display: flex;
    }

    .container-about{
        width: 50%;
    }

    .container-ul-about-1024{
        margin-top: 15px;
        display: block;
    }

    .container-ul-about-1024 ul li{
        list-style: none;
        margin-top: 8px;
        font-weight: bold;
    }

    .container-ul-about-1024 ul{
        display: flex;
        gap: 50px;
    }

    .icon-about-1024{
        padding-right: 5px;
    }

    .container-img-1024{
        box-sizing: border-box;
        width: 50%;
        padding-top: 50px;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .svg-1024-about{
        width: 90%;
    }

    .description-about{
        font-weight: 500;
    }
}