.experience{
    margin-top: 9rem;
}

.container-title-experience{
    position: sticky;
    top: 0;
    background-color: #e5e5e566;
    backdrop-filter: blur(7px);
    display: flex;
    align-items: center;
}

.container-description-experience{
    font-weight: bold;
    font-size: 15px;
}

@media screen and (min-width: 768px) {
    .container-title-experience{
        position: static;
        display: flex;
        align-items: center;
    }

    .container-title-experience h2{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1024px) {

    .experience{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-experience{
        width: 80%;
        box-sizing: border-box;
        box-shadow: 0 0 5px #888;
        border-radius: 15px;
        padding: 20px;
    }
}